.nav-router {
    width: 700px;
    text-align: center;
    margin: auto;
    background-color: blue;
    

}
.nav-router ul a{ 
    color:red;
    
}
 .nav-router ul a:hover{
     color: beige;
 }

 .imagen {
    width:500px ;
    height: 500px;
 }
 .borde{
     border-width: 1px;
     border-style: solid;
     max-width: 700px;
     margin: auto;
     list-style: none;
 }
 .lista{
     list-style: none;
 }
 .lista2{
    list-style: none;
    background-color: aqua;
    color: green
}
button{
    margin: 10px
}